@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, arcu mauris, tortor vitae rutrum eleifend, at iaculis dolore donec in, magnis dignissim consequat convallis non. Magna vestibulum hendrerit vel et. Laoreet wisi id, auctor viverra, amet vivamus nulla dolor velit, sollicitudin vivamus purus condimentum ultricies eu ornare, posuere ac placerat diam dapibus. Wisi libero </p>
