@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images2/Parkering-underjord.jpg">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our garage</h2>
        <p>Lorem ipsum dolor sit amet, arcu mauris, tortor vitae rutrum eleifend, at iaculis dolore donec in, magnis dignissim consequat convallis non. Magna vestibulum hendrerit vel et. Laoreet wisi id, auctor viverra, amet vivamus nulla dolor velit.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Spring news</h2>
        <p>Lorem ipsum dolor sit amet, arcu mauris, tortor vitae rutrum eleifend, at iaculis dolore donec in, magnis dignissim consequat convallis non. Magna vestibulum hendrerit vel et. Laoreet wisi id, auctor viverra, /p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Long-time parking
        </h2>
        <p>Lorem ipsum dolor sit amet, arcu mauris, tortor vitae rutrum eleifend, at iaculis dolore donec in, magnis dignissim consequat convallis non. Magna vestibulum hendrerit vel et. Laoreet wisi id, sollicitudin vivamus purus condimentum.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>